@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
ol {
  list-style-type: none;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f3f7fa;
}

.container {
  max-width: 754px;
  width: 100%;
  margin: 0 auto;
}
